// Global styles not attached to a component
* {
  tap-highlight-color: rgba(0,0,0,0);
  box-sizing: border-box;
}

body {
  touch-callout: none;
  .positionAbsolute();
  .userSelect();
  background-color: #fff;
  /*font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;*/
  font-family: "Source Sans Pro", sans-serif;
  font-size: 100%;
  color: @appTextColor;
  margin:0px;
  padding:0px;
}

.hidden {
  display: none;
}

.clearfix {
  clear: both;
}
