.mdi {
  line-height: inherit;
}

.navbar {
  .positionAbsolute(0, 0, auto, 0);
  height: 56px;
  background-color: @primaryColorDark;
  z-index: 10;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.16), 0 1px 2.5px 0 rgba(0, 0, 0, 0.26);

  h1 {
    .positionAbsolute(0, 56px, 56px, 72px);
    .ellipsis();
    color: @white;
    margin: 0;
    padding: 0;
    font-size: 130%;
    font-weight: 100;
    height: 56px;
    line-height: 56px;

    i {
      font-size: 90%;
    }

    a {
      color: inherit;
      text-decoration: none;

      &:active,
      .active {
        color: @primaryColorLight;
      }
    }

    small {
      font-size: 60%;
      margin: 0 0 0 10px;
    }
  }

  .button {
    position: absolute;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: @white;
    border-radius: 40px;
    text-align: center;
    margin: 8px;
    overflow: hidden;

    a {
      display: block;
      color: inherit;
      text-decoration: none;
    }

    &.left {
      left: 0;
    }

    &.right {
      right: 0;
      text-align: right;
    }

    &:active,
    .active {
      background-color: @primaryColorSuperDark;
      color: @primaryColorLight;
      box-shadow: none;
    }
  }
}
